<div id="header" class="section">
    <span><i class="fa fa-hand-spock-o"></i> Live Long</span>

    <div class="item-right">
        <i [hidden]="mobileMenuOpen" class="mobileMenu fa fa-bars" (click)="mobileMenuOpen = !mobileMenuOpen"></i>
        <i [hidden]="!mobileMenuOpen" class="mobileMenu fa fa-times"(click)="mobileMenuOpen = !mobileMenuOpen"></i>
        <ul [class.mobileMenuOpen]="mobileMenuOpen">
            <li><a href="#intro" [routerLinkActive]="['active']">Home</a></li>
            <li><a href="#about" [routerLinkActive]="['active']">About</a></li>
            <li><a href="#projects" [routerLinkActive]="['active']">Projects</a></li>
            <li><a href="#skills" [routerLinkActive]="['active']">Skills</a></li>
            <li><a routerLink="/blog" [routerLinkActive]="['active']">Blog</a></li>
            <li><a href="#contact" [routerLinkActive]="['active']" (click)="scrollToElement(target)">Contact</a></li>
        </ul>
    </div>
</div>