<div id="intro" class="section">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Hello!</p>
                <h1>Kita Cranfill</h1>
                <p>I am a <span class="jobTitle">{{jobTitle}}</span> <span class="stopTimer" (click)="stopTimer()">x</span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn btn-primary">GitHub</button>
            </div>
            <div class="col-5">
                <img class="item-right" src="../../assets/images/me.png" alt="">
            </div>
        </div>
    </div>
</div>

<div id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h4>ABOUT ME</h4>
                <p>Kita Cranfill</p>
            </div>
            <div class="col">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><i class="fa fa-user"></i><i class="fa fa-th"></i></p>
            </div>
        </div>
    </div>
</div>

<app-projects></app-projects>
<app-skills></app-skills>
<app-contact></app-contact>
