<div id="intro" class="section">
    <div class="container">
        <div class="row">
            <div class="col me">
                <!--<i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i><br>-->
                <p class="sign">Hello! I am</p>
                <h1>Kita Cranfill</h1>
                <p>I am a <span class="jobTitle">{{jobTitle}}</span> <span class="stopTimer" (click)="stopTimer()">x</span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
                <button class="btn btn-primary"><a href="https://github.com/kita85" target="_blank">GitHub</a></button>
            </div>
            <div class="col-5">
                <img class="item-right" src="../../assets/images/me.png" alt="">
            </div>
        </div>
    </div>
    <div class="header-separator header-separator-bottom "><svg class="mesmerize" preserveAspectRatio="none" width="1000" height="100" viewBox="0 0 1000 100" xmlns="http://www.w3.org/2000/svg"> <g fill="none"> <path class="svg-white-bg" d="M-1.23 78.87c186.267-24.436 314.878-36.485 385.833-36.147 106.432.506 167.531 21.933 236.417 21.933s183.312-50.088 254.721-55.62c47.606-3.688 89.283 2.613 125.03 18.901v72.063l-1002 1.278v-22.408z" fill="#fff"></path> <path class="svg-accent" d="M-1.23 87.791c171.627-34.447 300.773-52.658 387.438-54.634 129.998-2.964 166.902 40.422 235.909 40.422s175.29-63.463 246.825-68.994c47.69-3.687 91.633 10.063 131.828 41.25" stroke="#789cff" stroke-width="1"></path> </g> </svg></div>

</div>


<div id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3>About Me</h3>
                <p class="line"></p>
            </div>
            <div class="col">
                <p>Allow me to introduce myself. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  
                <p class="sign">Kita Cranfill</p>
            </div>
        </div>
    </div>
</div>

<app-projects></app-projects>
<app-skills></app-skills>
<app-contact></app-contact>
