<div id="contact" class="section">
    <div class="container">
        <h2>Contact Me</h2>
        <form>
            <div class="row">
                <div class="col">
                    <label for="">Name
                        <input type="text">
                    </label>
                </div>
                <div class="col">
                    <label for="">Email
                        <input type="text">
                    </label>
                </div>
            </div>
            <label for="">Subject
                <input type="text">
            </label>
            <br>
            <label for="">Message
                <textarea></textarea>
            </label>
        </form>
    </div>
</div>